<h1>DOI for <%= @resource.title.is_a? Array and @resource.title.first or @resource.title %> (<%= @id %>)</h1>

<% if @resource.has_local_doi? %>
	<p>This resource already has a local DOI:</p>
	<ul><li><%= @resource.doi.first %></li></ul>
<% else %>
	<% if @resource.has_doi? %>
	<p>This resource has an outside DOI already</p>
	<ul>
		<% @resource.doi.each do |doi| %>
			<li><%= doi %></li>
		<% end %>
	</ul>
	<% else %>
		<p>This resource has no DOI.</p>
	<% end %>

	<% if @metadata_errors.any? %>
		<p>A new DOI cannot be generated for this resource because it is missing
			 some required metadata. See error messages below.<p>
		<ul>
			<% @metadata_errors.each do |error| %>
				<li><%= error %></li>
			<% end %>
		</ul>
		<p>A new DOI can be generated after fixing the above errors, it would be:</p>
		<ul><li>doi:<%= @resource.mock_doi %></li></ul>
	<% else %>
		<p>You can generate a new DOI for this resource. The generated DOI would be:</p>
		<ul><li>doi:<%= @resource.mock_doi %></li></ul>
		<p><strong>You cannot reverse the publishing of a DOI</strong>. Once published, the existence of the resource will become public knowledge permanently.</p>
		<p>Publishing the DOI may take a while and the document page will say that
			 the DOI has not yet been published until the whole process is complete.
			 Usually this only takes a minute or two but in some cases can take longer.
			 You will get a notification when the publishing process is complete. If
			 you haven't gotten one within 24 hours, you should try generating the
			 DOI again or contacting support. </p>
		<p><%= link_to "Publish DOI now", doi_path, method: 'put' %></p>
	<% end %>
<% end %>
<p><%= link_to "Back", @resource %></p>
