      <table class="table">
        <tr>
          <th><span class="attribute-label h4">Title:</span></th>
          <td><%= work.title %></td>
        </tr>
        <tr>
          <th><span class="attribute-label h4">Contributors:</span></th>
          <td><% work.to_model.contributors.map do |contributor|
            (contributor.role.any? ? contributor.role : [nil]).map do |role| %>
              <% if role %>
                <span class="contributor_role"><%= Sufia.config.contributor_roles_reverse[role] %>: </span>
              <% end %>
              <%= contributor.to_s %>
              <br />
            <% end %>
          <% end %></td>
        </tr>
        <tr>
          <th><span class="attribute-label h4">Description:</span></th>
          <td><%= iconify_auto_link(work.description) %></th>
        </tr>
        <tr>
          <th><span class="attribute-label h4">Keywords:</span></th>
          <td><%= work.tags.join(', ') %></td>
        </tr>
        <tr>
          <th><span class="attribute-label h4">Date Uploaded:</span></th>
          <td><%= work.date_uploaded %></td>
        </tr>
      </table>
