<h2>Durham Research Online DATAsets Archive (DRO-DATA)</h2>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">What is purpose of DRO-DATA?</a>
      </h3>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
        Collections (DRO-DATA) is a digital repository for small and medium data produced by Durham researchers (ie datasets under 400MB). The DRO-DATA service offers you a means to:
        </p>
        <ul>
          <li>Create descriptive metadata helping with data discoverability and re-usability.</li>
          <li>Deposit and long-term preservation (10 years) of your dataset.</li>
          <li>Obtain a DOI to enable precise citation (see following section for more details)</li>
          <li>Apply an open licence (subject to legal clearance). Contact University <a href='mailto:legal.support@durham.ac.uk.'>Legal Support</a> and explain your intention.</li>
        </ul>
        <p>If you deposit your dataset in DRO-DATA you will be compliant with the <a href='https://www.epsrc.ac.uk/about/standards/researchdata/'>EPSRC data policy</a> (providing timely data upload within 12 months of data generation or no later than a paper publication date).
        </p>
      </div>
      <div class="panel-footer"><a data-toggle="collapse" href="#collapse1">&lt;&lt;</a></div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Understanding publishing data with a DOI</a>
      </h3>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <p>A <a href="https://en.wikipedia.org/wiki/Digital_object_identifier">digital object identifier</a> (DOI) is a global unique and persistent identifier that helps locate digital objects such as research papers or data on the Internet.</p>
        <p>A typical DOI auto-registered in DataCite service by DRO-DATA service looks like <strong>doi:10.15128/73666484s</strong> or expressed as a URL link <a href="http://dx.doi.org/10.15128/73666484s">http://dx.doi.org/<strong>10.15128/73666484s</strong></a>. Once activated the URL takes you to the ‘data landing page’ for this DOI within the DRO-DATA repository.</p>
        <p>The above DOI identifier consist of two parts:</p>
        <ul>
          <li><strong>10.15128</strong> – constant prefix representing Durham University as a data publisher.</li>
          <li><strong>73666484s</strong> – an opaque identifier allocated by DRO-DATA service. Note that the data deposited in the DRO-DATA service is using the same identifier and data can be accessible prior to DOI registration with its local URL <a href="https://collections.durham.ac.uk/files/73666484s">https://collections.durham.ac.uk/files/<strong>73666484s</strong></a></li>  
        </ul>

        <p>The DOI identifier is permanent and allows for reliable data citation and access, for above datasets one should cite it as:</p>
        
        <p align="center"><i>Kemp, S. L.; Butler, K. L.; Fretag, R.; Hopkins, S. A.; Hinds, E. A.; Tarbutt, M. R.; Cornish, S. L.; (2015): Production and characterization of a dual species magneto-optical trap of cesium and ytterbium.; Durham University. <a href="http://dx.doi.org/10.15128/73666484s">http://dx.doi.org/10.15128/73666484s</a></i></p>

        <p>DRO-DATA service has been designed to facilitate process of publishing data via DOI in two stages:</p>
        <ul> 
          <li>Reserve a DOI to allow citing data in the research paper statement. This stage could be initiated once a final version of a paper is submitted for per-review - <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse5">for more details scroll down to the following sections</button>.</li>
          <li>Publish the allocated DOI. This step should be accomplished once a paper is accepted for publication and you don’t expect any further changes to data title, content, and final data archive has been uploaded to the repository - <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse6">for more details scroll down to the following sections</button>.</li>
        </ul>  

        <p>Once the DOI is published the research data can be discovered through global services such as <a href="http://search.datacite.org/ui">DataCite metadata search</a> or local discovery systems similar to <a href="http://discover.durham.ac.uk/">Durham Discover Service</a>. <strong>Tip</strong> - just search for “10.15128/73666484s” string.</p>
      </div>
      <div class="panel-footer"><a data-toggle="collapse" href="#collapse2">&lt;&lt;</a></div>
    </div>
  </div>
</div>      

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#collapse3">What data can I deposit to DRO-DATA?</a>
      </h3>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>You should consider what are the key data that must be kept for long-term preservation in order to:</p>
        <ul>
          <li>Support original research findings by allowing published results to be independently verified.</li>
          <li>Are likely to be reused by other researchers and maximise impact of your research by facilitating education of new researchers and leading to more opportunities for collaboration.</li>
          <li>Are impossible or costly to generate therefore increases the efficiency of use of public funding.</li>
        </ul>
      </div>
      <div class="panel-footer"><a data-toggle="collapse" href="#collapse3">&lt;&lt;</a></div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#collapse4">How data should be prepared to DRO-DATA deposit?</a>
      </h3>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Prepare your dataset as a compressed zip or tar.gz files bundle. Use file formats as commonly agreed in your discipline interoperable standards, for example *.csv, *.j2k , *.hdf5, *.cd3 etc. Therefore those files are more likely to be re-usable in the long-term period (+10 years).</p>
        <p>The bundle should include detailed README file describing information not easily accessible elsewhere e.g. in the paper methodologies section or supplementary material. The README file contents can include:</p>
        <ul>
          <li>The list of various datasets files names and their content as well as relation with research paper (e.g. figures, tables etc.) or findings.</li>
          <li>Used specialist software name and version number required to open or process or used to generate dataset files.</li>
          <li>Detailed steps to track data creation process.</li>
          <li>Information about meaning of used variable names or abbreviation inside deposited files.</li>
        </ul>
        <p><strong>Tip</strong>: Explore deposited datasets in DRO-DATA service and inspect some README files from your subject filed.</p>
      </div>
      <div class="panel-footer"><a data-toggle="collapse" href="#collapse4">&lt;&lt;</a></div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#collapse5">How to deposit data and reserve a DOI for use in a scholarly work?</a>
      </h3>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="media-list">
          <li class="media">
            <div class="media-body">
              <h4 class="media-heading">Video summary</h4>
              <p>Watch 2min video guide or use following steps:</p>
            </div>
            <div class="media-right">
              <a href="#">
                <%= video_tag "reserve_DOI.mp4", :size => "640x480", :controls => true %>
              </a>
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h4 class="media-heading">Step 1: <%= link_to 'Log in to DRO-DATA service', 'https://collections.durham.ac.uk/users/sign_in' %></h4>
            </div>
            <div class="media-right">
              <a href="#">
                <%= image_tag 'login.png', width:'640', class:'media-object' %>
              </a>
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h4 class="media-heading">Step 2: Upload your dataset archive</h4>
              <p>Devise a meaningful name, for example: <i>Supporting_Data-Full_Paper_Title-Contact_name-Year.zip.</i>
              </p>
              <p><strong>Tip</strong>: If your data are not ready simply upload a placeholder file and fill mandatory fields. You will be able reserve a DOI on this stage. New version of data can be uploaded on the later stage.</p>
              <p>Press <strong>“Upload”</strong> button.</p>
            </div>
            <div class="media-right">
              <a href="#">
                <%= image_tag 'upload.png', width:'640', class:'media-object' %>
              </a>
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h4 class="media-heading">Step 3: Read and do agree to <a href='https://collections.durham.ac.uk/agreement/'>DRO-Data's Deposit Agreement.</a></h4> 
              <p>Press <strong>“Select files…”</strong> and pick the prepared archival dataset file following <strong>“Start upload”</strong> button.</p>
              <p><strong>Important</strong>: Do not use <strong>“Select collection...”</strong> drop down list.</p>
            </div>
            <div class="media-right">
              <a href="#">
                <%= image_tag 'select_files.png', width:'640' %>
              </a>
            </div>
          </li>
            <li class="media">
            <div class="media-body">
              <h4 class="media-heading">Step 4: Create descriptive metadata</h4>
              <p>Complete mandatory fields (*) including "<strong>Resource Type</strong>", "<strong>Title</strong>" of dataset; list all "<strong>Contributors</strong>" in order of importance; add multiple contributor entry to indicate different roles, for example <i>"Contact person"</i>; add affiliation including country e.g. <i>University, Country</i> - use ";" to separate more than one affiliations. </p>
              <p><strong>Tip</strong>: A good descriptive title for your data could include title of the original paper with data phrase such as “supporting data, data from, data files, evaluation datasets” or similar.</p>
              <p>Note that <strong>Rights</strong> field has preselected <i>"All rights reserved"</i> value. Inform University <a href='mailto:legal.support@durham.ac.uk.'>Legal Support</a> when you select other open licence for your data.  
              <p>Note that all descriptive information could be revisited in the later stage before the final DOI registration.</p>
            </div>
            <div class="media-right">
              <a href="#">
                <%= image_tag 'mandatory_fields.png', width:'640' %>
              </a>
            </div>
          </li>
          </li>
            <li class="media">
            <div class="media-body">
              <h4 class="media-heading">Step 5: Save record and obtain DOI</h4>
              <p><strong>“Save”</strong> created record. You will be presented with the record summary page (also know as DOI landing page).</p>
              <p><strong>Important</strong>: Take a note of an reserved DOI. See <strong>“Identifier”</strong> field. Cite your data in the paper’s acknowledgment section.</p>
              <p>Note that DOI will be valid after its formal registration in the <a href='http://datacite.org'>DataCite</a> service, see <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse6">How to publish a reserved DOI?</button> section for more details.</p>
            </div>
            <div class="media-right">
              <a href="#">
                <%= image_tag 'allocated_doi.png', width:'640' %>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel-footer"><a data-toggle="collapse" href="#collapse5">&lt;&lt;</a></div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#collapse6">How to publish a reserved DOI?</a>
      </h3>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
        <p> This is three-step process. You request Open Access data visibility status. <a href='mailto:research.data@durham.ac.uk'>Research Data Manager</a> approves OA status after reviewing metadata quality. You publish allocated DOI. See also <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse2">Understanding publishing data with a DOI</button> section.</p>
        <ul class="media-list">
          <li class="media">
            <div class="media-body">
              <h4 class="media-heading">Video summary</h4>
              Watch 1min video guide or use following steps:
            </div>
            <div class="media-right">
              <a href="#">
                <%= video_tag "publish_DOI.mp4", :size => "640x480", :controls => true %>
              </a>
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h4 class="media-heading">Step 1: Rquest Open Access data visibility</h4>
              <p>Check <strong><i>Title, Creators</i></strong> fields and uploaded dataset. Once DOI is registered those information cannot be modified.</p> 
              <p>On the record summary page click <i>Edit -> Permissions</i> tab and select <strong>“Open Access Pending”</strong> permissions status.</p>
            </div>
            <div class="media-right">
              <a href="#">
                <%= image_tag 'open_access_pending.png', width:'640' %>
              </a>
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h4 class="media-heading">Step 2: RDM approves OA request </h4>
              <p>Research Data Manager will be notified on a new OA request and check descriptive metadata. The main objective of this step is to assure metadata quality of associated data. RDM might have further question and suggestion that will be discussed via email communication.</p>
              <p><strong>Important</strong>: For a prompt review contact us also on <i>research.data at durham.ac.uk</i></p>
            </div>
            <div class="media-right">
              <a href="#">
                <%= image_tag 'open_access_notification.png', width:'640' %>
              </a>
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h4 class="media-heading">Step 3: Publish the allocated DOI</h4>
              <p>Once record has changed <strong>Open Access​</strong> status a DOI publication link would appear. On the record summary page in the <strong>Identifier</strong> section use <strong>“[Not yet publish]”</strong> link.</p>
            </div>
            <div class="media-right">
              <a href="#">
                <%= image_tag 'not_yet_published.png', width:'640' %>
              </a>
            </div>
          </li>  
          </li>
            <li class="media">
            <div class="media-body">
              <h4 class="media-heading">Continue</h4>
              <p>A new web page will open with the final DOI information. Confirm that all information are correct by selecting a tick box <strong>“I have read ...”</strong>.</p>
              <p>Register DOI with <strong>“Publish DOI now”</strong> button.</p>
              <p><strong>Note</strong>: You can confirm a DOI successful registration by typing it in the browser <i>http://dx.doi.org/10.15128/xxxxxxxxx</i> (replace <i>xxxxxxxxx</i> with your identifier). Press enter. You should be redirected to the data landing page <i>https://collections.durham.ac.uk/files/xxxxxxxxx</i>.</p>
            </div>
            <div class="media-right">
              <a href="#">
              <%= image_tag 'publish_doi.png', width:'640' %>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel-footer"><a data-toggle="collapse" href="#collapse6">&lt;&lt;</a></div>
    </div>
  </div>
</div>